@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    margin-bottom: 2rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }
}
.descipcion{
    // Limitar a 2 lineas de codigo
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}
.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}
.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;
    li {
        flex: 1;
        display: flex;

        img {
            flex:  0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
}
.propiedad{
}
.resumen-propiedad{
    .iconos-caracteristicas{
        margin: 0 auto;
    }
    .precio{
        color: $verde;
        text-align: center;
        font-size: 5rem;
        margin: 0;
    }
}

.overlay{
	position: fixed;
    width: 100%;
	height: 100%;
	top:0;
    background-color: rgba(0, 0, 0, 0.357);
	display: grid;
	place-items:center;

    img{
        width: 50%;
    }
}
.btn-cerrar{
	width: 5rem;
	height: 5rem;
	background-color: $blanco;
	display: grid;
	//Centra la imagen
	place-items:center;
	font-weight: $black;
	font-size: 3rem;
	border-radius: 100%;

	&:hover{
		cursor: pointer;
		background-color: $negro;
		color: $blanco;
	}

}

